<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile details
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card (click)="displayDatepicker()">
    <ion-card-header>
      <ion-card-title>click to open datepicker modal</ion-card-title>
      <ion-card-subtitle>2 open datepicker</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>