<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card (click)="displayProfileDetail()">
    <ion-card-header>
      <ion-card-title>click open details profile modal</ion-card-title>
      <ion-card-subtitle>2 open detail modal</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
