<ion-header>
  <ion-toolbar>
    <ion-title>Home page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card [routerLink]="['/profile']">
    <ion-card-header>
      <ion-card-title>Home page</ion-card-title>
      <ion-card-subtitle>Balance</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
